body {font-family: 'Arimo', sans-serif; }

header {
  background: black;
}

header h1 {
  color: white;
  margin: 0px 0px 0px 30px;
  font-size: 300%;

}

nav {
  margin: 0px 0px 0px 30px;

}



a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: red;
  padding: 0px 10px 0px 10px;
}


a:hover {
  color: black;
}

article {
  margin: 0px 30px 0px 30px;
  padding: 0px 0px 15px 0px;
  border-bottom: solid black 3px;



}

article h1 {
  margin: 10px 0px 10px 0px;
}

img {float: left;
    margin: 0px 10px 0px 0px;
}

.fix { clear: both;}
